# Archivos y directorios generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyz/

# Entorno virtual de Python (por ejemplo, creado con virtualenv o venv)
venv/

# Archivos de compilación de C++
*.o
*.out

# Ejecutables de C++
*.exe

# Directorios de compilación de C++
build/
bin/

# Archivos de configuración de IDE específicos
.vscode/
.idea/

# Archivos de caché generados por IDE
*.vs/

# Archivos de registro
*.log

# Otros archivos y directorios generados
*.swp
.DS_Store
.devcontainer